*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background:url("../../../assets/background4.jpg") no-repeat;
    background-size:cover;
    background-position: center;
}
.show-container{
    width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2) ;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.show-container h1{
    font-size: 24px;
    text-align: center;
}
.show-container .spacer {
    flex: 1 1 auto;
}
.show-container .btn{
    width:100%;
    height: 45px;
    background: #fff ;
    border: none ;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.show-container .git-link{
    font-size:14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.git-link a{
    color:#fff;
}