<body>
    <div class="show-container">
        <div>
            <h1>Last Blockchain Number :</h1>
            <h1>{{lastBlockNum}}</h1>
            <button class="btn" (click)="getLastBlockNum()">show last block</button>
        </div>
        <div>
            <h1>Balance of the given USDT contract :</h1>
            <h1>{{balance}}</h1>
            <button class="btn" (click)="getBalanceOfUSDT()">show Balance</button>
        </div>
    </div>
</body>